*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --white: #FFFFFF;
    --input-color: #CDCFDE;
    --buttom-color: #536FC9;
    --question-color: #273B7C;
    --sm: 1.6rem;
    --md: 2.0rem;
    --lg: 4rem;
}
html{
    font-size: 62.5%;
}
body{
    background-image: url(../imagenes/login-background-responsive.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    width: 95%;
    max-width: 28rem;
    max-height: 50rem;
    min-width: 23rem;
    min-height: 49.8rem;
    background-color: var(--white);
    border: solid var(--white);
    border-radius: 7rem;
    box-shadow: 0 3.2rem 3.2rem 0.1rem black;
}
main .sect-1, main .sect-2{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .sect-2{
    margin-bottom: 2rem;
}
.logo-automatroni{
    margin-top: 0.8rem;
    width: 9rem;
    height: 9rem;
    justify-self: center;
}
.title{
    font-size: var(--md);
    font-weight: bold;
    margin-top: 1.8rem;
    margin-bottom: 1.6rem;
    text-align: center;
}
.form-login-admin{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    padding: 1rem;
}
.label-user{
    font-size: var(--sm);
    font-weight: 50rem;
    margin-bottom: 0.8rem;
    font-family: 'Quicksand', sans-serif;
}
.input-user, .input-password{
    background-color: var(--input-color);
    border: none;
    padding: 0.8rem;
    border-radius: 3.2rem;
    height: 3.8rem;
    width: 100%;
    font-size: var(--sm);
    margin-bottom: 2rem;
    font-family: 'Quicksand', sans-serif;
    outline: none;
}
.input-user:hover, .input-password:hover{
    box-shadow: 0 0 0.4rem 0 #000001;
}
.enter-buttom{
    /*texto interno*/
    text-align: center;
    background-color: var(--buttom-color);
    font-size: var(--sm);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    /*dimensiones y posición del button y del modelo de caja*/
    width: 15rem;
    height: 5rem;
    margin-top: 1.4rem;
    margin-bottom: 1.6rem;
    align-self: center;
    /*estilo*/
    color: var(--white);
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
}
.enter-buttom:hover{
    background-color: var(--question-color);
}
.enter-buttom:active{
    background-color: var(--buttom-color);
}
.question-login{
    font-size: var(--sm);
    font-weight: bold;
    color: var(--question-color);
    text-align: center;
    text-decoration: none;
}
.question-login:hover{
    color: var(--buttom-color);
}
.question-login:active{
    color: var(--question-color);
}